<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.eelan.bibliohelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- PARTIE JONATHAN -->

        <meta-data
            android:name="DATABASE_NAME"
            android:value="biblio" />
        <meta-data
            android:name="DATABASE_VERSION"
            android:value="1" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.github.eelan.bibliohelper.data.db" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />

        <!-- PARTIE JONATHAN -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.BookDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
